<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/style.css" rel="stylesheet">
  <title>PURE 3D {{title}}</title>
  <link rel="icon" type="image/x-icon" href="images/favicon.png">
</head>
<body class="">

  <div class="h-full min-h-screen flex flex-col justify-stretch items-stretch">

    {{> main_navigation}}

    <main class="w-full max-w-[1500px] mx-auto px-6 mt-10 flex flex-col md:flex-row gap-4 items-stretch grow">
  
  
            <!-- aside -->
            <div class="w-full md:w-1/5 mb-4">
              
            </div>
            
            
            <!-- main col -->
            <div class="w-full md:w-3/5   ">
              <h1 class="text-3xl">{{title}}</h1>
  
              
              <div class="w-full pb-20 prose md:mt-8">
                {{{contentdata.contentMd}}}
              </div>
              
            </div>
  
            <div class="w-full md:w-1/5 mb-4">
              <div class="md:bg-neutral-50 md:p-4 rounded sticky top-6 md:mt-16 flex md:flex-col gap-4 md:gap-2 flex-wrap" id="headerNavigation">
                
                <a href="call_for_projects.html">Call for Projects</a>
              </div>
            </div>
  
  
  
      
    </main>
  {{>main_footer}}

  </div>








</body>
</html>