<div class="w-full bg-puregreen-300 text-puregreen-800">
    <div class="w-full max-w-[1500px] mx-auto flex flex-col sm:flex-row justify-between items-start gap-16 px-6 py-16 ">
        <div class="w-full sm:w-1/5">
            <nav class="flex flex-col">
                <div class="">
                    <img src="images/logo_pure3d-compact.png" alt="" class="h-12 w-auto mb-2">
                </div>
                
                <a href="index.html" class="text-puregreen-800">Home</a>
                <a href="all-projects.html" class="text-puregreen-800">3D projects</a>
                <a href="all-editions.html" class="text-puregreen-800">3D editions</a>
                <a href="about.html" class="text-puregreen-800">About</a>
            </nav>

        </div>
        <div class="w-full sm:w-2/5">
             <strong>PURE 3D</strong><br>
            PURE 3D is a virtual research environment for interactive Digital Heritage and Digital Humanities 3D content.
        </div>
        <div class="w-full sm:w-2/5">
            <div class="bg-pureblue-500 p-4 flex flex-col gap-6 rounded-sm">
                <a href="https://www.maastrichtuniversity.nl/" target="_blank" aria-label="Go to the webite of Maastricht University.nl"><img src="images/logo_maastricht-university.png" alt="Logo Maastricht University" class="max-w-[250px]"></a> 
                <a href="https://pdi-ssh.nl" target="_blank" aria-label="Go to the webite of Platform Digitale Infrastructuur"><img src="images/logo_platform-digitale-infrastructuur.png" alt="Logo " class="max-w-[250px]"></a>
                <a href="https://di.huc.knaw.nl/" target="_blank" aria-label="Go to the webite of KNAW Humanites Cluster - Digital Infrastructure"><img src="images/logo-knaw-digital-infrastructure.png" alt="Logo " class="max-w-[230px] mix-blend-screen"></a>
            </div>
        </div>
    </div>
</div>