<li id="c{{@index}}"
  class="bg-white h-[300px] lg:h-[350px] overflow-hidden relative shadow-md inc-card -mt-6 mb-6 hover:border-t order-{{@index}} flex flex-col">

  <div class="w-full absolute pt-44 lg:pt-60 hover:pt-0 h-[300px] transition-all">
    <div class="bg-white w-full p-4">
      <a href="{{peLink}}" class="text-pureblue-700">
        <h2 class="h-28 lg:h-36 ">
          {{peName}}
        </h2>
        {{{peAbstract}}}
      </a>
    </div>

  </div>
  <img src="data/project/{{ prId }}/{{#if isTypeEdition}}edition/{{edId}}/{{/if}}icon.png" alt=""
    class="w-full h-56 object-cover" onerror="this.src='images/noImg.png'">


  <div data-tag-to-facet="Subject" class="hidden">
    {{#each peSubjects}}
    <span>{{this}}</span>
    {{/each}}
  </div>
  {{!--
  <div data-tag-to-facet="Licence" class="hidden">
    {{#each peSubjects}}
    <span>{{this}}</span>
    {{/each}}
  </div>
  --}}

</li>